body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
:root {
    --toastify-color-progress-dark: linear-gradient(     to right,     #4cd964,     #5ac8fa,     #007aff,     #34aadc,     #5856d6,     #ff2d55   );;
}
